@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/MontserratRegular/Montserrat-Regular.eot');
    src: url('../fonts/MontserratRegular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MontserratRegular/Montserrat-Regular.woff') format('woff'),
    url('../fonts/MontserratRegular/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}