@media screen and (min-width: 2000px){
	.slider .fa-chevron-left {
	    margin-left: calc(50% - 700px);
	}
	.slider .fa-chevron-right {
	    margin-right: calc(50% - 700px);
	}
}
@media screen and (max-width: 1200px){
	.contacts .subtitle, .contacts .title{
		text-align: center;
	}
	.contacts .title{
		margin-bottom: 1.3em;
	}
	.contacts .contact_item{
		text-align: center;
	}
}

@media screen and (max-width: 992px){
	.contacts p{
		display: block;
		margin: 10px 0 0 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px){
	footer .centered {
	    width: 44%;
	}
}

@media screen and (max-width: 767px){
	header ul{
	    position: absolute;
	    top: 66px;
	    right: 0px;
	    text-align: right;
	    padding: 0;
	    background-color: rgba(250, 250, 250, .75);
	    display: none;
	    width: 175px;
	}
	header ul li {
	    display: block;
	    line-height: 5em;
	    border-bottom: 1px solid #fff;
	}
	header ul li:nth-child(4){
		border-bottom: 1px solid transparent;
	}
	header ul li a {
	    padding: 2.4em;
	}
	header .menu-icon{
	    display: inline-block;
	}
	.service .icon {
	    display: block;
	    margin: 0 auto 20px auto;
	}
	.service .descr {
	    text-align: center;
	    margin-bottom: 25px;
	}
	.subscribe{
		text-align: center;
	}
	.subscribe .button{
		float: none;
		display: inline-block;
	}
	.contacts i {
	    font-size: 1.7em;
	    width: 30px;
	    height: 30px;
	    line-height: 1.85em;
	}
	.our_work .item {
	    margin-bottom: 15px;
	}
}
@media screen and (max-width: 640px){
	footer .right {
	    float: left;
	}
	footer p{
		font-size: 1em;
		padding-top: 5px;
	}
	footer .centered{
		width: auto;
	}
}
@media screen and (max-width: 500px){
	.contact_item{
		width: 100%;
		padding-top: 10px;
	}
	.contacts .title{
		margin-bottom: 0.8em;
	}
	.slider .fa{
		border: 2px solid transparent;
	}
}
@media screen and (max-width: 400px){
	footer p{
		font-size: 0.8em;
	}
	footer .right, footer .left, footer .centered{
		width: 100%;
		float: none;
		text-align: center;
	}
	footer ul{
		padding: 0;
	}
	footer .centered{
		margin: 10px 0 5px 0;
	}
}
@media screen and (max-width: 380px){
	.slider .fa-chevron-right{
		margin-right: 0;
	}
	.slider .fa-chevron-left{
		margin-left: 0;
	}
}