a, a:hover, a:active, a:visited, a:focus{
    color: #212121;
    outline-width: 0;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

body{
    background-color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 1em;
    color: #616161;
}

/*HEADER*/
header{
    background-color:#fff;
    height: 72px;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding-top: 5px;
}
.logo{
    display: inline-block;
    color: #212121;
    text-transform: uppercase;
    font-size: 2.55em;
    vertical-align: top;
    margin-top: 0.4em;
}
.logo span{
    position: relative;
    vertical-align: top;
    margin-left: 0.4em;
    font-size: 0.95em;
}
.logo span::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid #212121;
    top: -3px;
    right: -11px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.logo:hover span::after{
    border: 2px solid #ff6e40;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
header .right{
    float: right;
}
header ul{
    float: right;
}
header ul li{
    list-style-type: none;
    display: inline;
    line-height: 6em;
}
header ul li a{
    color:#616161;
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: 'Montserrat-Regular';
    padding: 0.4em;
    margin: 0.4em;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
header ul li a:hover{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
header ul li a:hover{
    transition: all ease-in-out 0.4s;
    color: #ff6e40;
}
header .menu-icon{
    float: right;
    font-size: 4em;
    line-height: 60px;
    vertical-align: top;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    color: rgb(189, 189, 189);
    display: none;
    position: relative;
    margin-right: 20px;
}
header .menu-icon:hover{
    color: #212121;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

/*SLIDER*/
.slider{
    display: block;
    margin-top: 6em;
    width: 100%;
    height: 500px;
    background: url(../img/slider.jpg);
    background-position-x: 50%;
    background-repeat:  no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans Regular';
    padding: 0 10px;
}
.slider h1{
    text-transform: uppercase;
    padding-top: 4.5em;
    font-size: 3.5em;
}
.slider p{
    font-size: 2.2em;
}
.slider .button{
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 2px solid #ff6e40;
    display: inline-block;
    width: 185px;
    height: 45px;
    line-height: 45px;
    font-size: 1.5em;
    font-family: 'Montserrat-Regular';
    margin-top: 2em;
}
.slider .button:hover{
    background-color: #ff6e40;
}
.slider .fa{
    font-size: 1.5em;
    border: 2px solid #ff6e40;
    display: inline-block;
    height: 45px;
    width: 45px;
    vertical-align: top;
    margin-top: 2em;
    line-height: 45px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}
.slider .fa:hover{
    background-color: #ff6e40;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.slider .fa-chevron-left{
    float: left;
    margin-left: 2em;
}
.slider .fa-chevron-right{
    float: right;
    margin-right: 2em;
}

/*ABOUT US*/
.about, .service{
    text-align: center;
    padding: 6em 0;
}
.subtitle{
    color: #bdbdbd;
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 0.7em;
}
.title{
    font-size: 2.45em;
    color: #212121;
    text-transform: uppercase;
    margin: 0 0 2em 0;
}
.about p{
    font-family: 'Open Sans Regular';
    font-size: 1.4em;
    margin: 0 0 1.5em;
}
.more{
    display: block;
    width: 185px;
    height: 45px;
    color: #212121;
    line-height: 45px;
    font-size: 1.5em;
    text-transform: uppercase;
    border: 2px solid #212121;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin: 2em auto 0 auto;
}
.more:hover{
    background-color: #212121;
    color: #fff;
}

/*OUR SERVICES*/
.service{
    display: block;
    width: 100%;
    background-color: #f5f5f5;
}
.service .icon{
    display: inline-block;
    color: #ff6e40;
    font-size: 4.5em;
    position: relative;
    vertical-align: top;
    margin-top: 0.4em;
    width: 50px;
}
.service .icon:hover .top_left{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    border-color: #f5f5f5 transparent transparent #f5f5f5;
}
.service .icon:hover .top_right{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    border-color: #f5f5f5 #f5f5f5 transparent transparent;
}
.service .icon:hover .bottom_left{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    border-color: transparent transparent #f5f5f5 #f5f5f5;
}
.service .icon:hover .bottom_right{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    border-color: transparent #f5f5f5 #f5f5f5 transparent;
}
.top_left, .top_right, .bottom_left, .bottom_right{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 3px solid;
    position: absolute;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.top_left{
    top: -5px;
    left: -10px;
    border-radius: 5px 0 0 0;
    border-color: #ff6e40 transparent transparent #ff6e40;
}
.top_right{
    top: -5px;
    right: -10px;
    border-radius: 0 5px 0 0;
    border-color: #ff6e40 #ff6e40 transparent transparent;
}
.bottom_left{
    bottom: -5px;
    left: -10px;
    border-radius: 0 0 0 5px;
    border-color: transparent transparent #ff6e40 #ff6e40;
}
.bottom_right{
    bottom: -5px;
    right: -10px;
    border-radius: 0 0 5px 0;
    border-color: transparent #ff6e40 #ff6e40 transparent;
}
.service .descr{
    display: inline-block;
    max-width: 70%;
    text-align: left;
    margin-left: 2em;
    vertical-align: top;
    color: #212121;
}
.service .descr h4{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.6em;
    font-family: 'Montserrat-Regular';
    margin: 10px 0 5px 0;
}
.service .descr p{
    display: inline-block;
    font-size: 1.4em;
    font-family: 'Open Sans Regular';
}
.subscribe{
    display: block;
    width: 100%;
    background-color: #424242;
    padding: 3.5em 0;
    margin: 0 auto;
    color: #fff;
    font-family: 'Montserrat-Regular';
}
.subscribe .text h4{
    text-transform: uppercase;
    font-size: 1.8em;
}
.subscribe .text p{
    color: #bdbdbd;
    font-family: 'Open Sans Regular';
    font-size: 1.4em;
}
.subscribe .button{
    float: right;
    vertical-align: top;
    width: 20em;
    height: 50px;
    background-color: transparent;
    text-transform: uppercase;
    line-height: 50px;
    border: 2px solid #ff6e40;
    color: #fff;
    text-align: center;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    font-size: 1.2em;
    margin-top: 10px;
}
.subscribe .button:hover{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    background-color: #ff6e40;
}


/*OUR WORK*/
.our_work{
    display: block;
    text-align: center;
    padding: 6em 0;
}
.our_work .item{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 30px;
}
.our_work .item img{
    width: 100%;
}
.our_work .item .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 117, 117, .7);
    opacity: 0;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    padding: 30% 0 0 0;
}
.our_work .item:hover .hover{
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.our_work .item .hover i{
    font-size: 2.45em;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff6e40;
    padding: 20px;
}
.our_work .item .hover .bottom{
    position: absolute;
    bottom: -10em;
    left: 0;
    display: block;
    width: 100%;
    height: 10em;
    background-color: #f4f4f4;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.our_work .item:hover .hover .bottom{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.our_work .item:hover .hover .bottom{
    transition: all ease-in-out 0.4s;
    bottom: 0;
}
.our_work .item .hover .bottom h4{
    text-transform: uppercase;
    color: #ff6e40;
    padding-top: 1em;
    font-size: 1.5em;
    font-family: 'Montserrat-Regular';
}
.our_work .item .hover .bottom h5{
    color: #757575;
    font-family: 'Open Sans Regular';
    font-size: 1.4em;
}

/*CONTACTS*/
.contacts{
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    padding: 2em 0;
    margin: 0 auto;
    color: #000;
}
.contacts .title, .contacts .subtitle{
    margin: 3px;
}
.contacts i{
    font-size: 2.45em;
    color: #fff;
    background-color: #ff6e40;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.2em;
}
.contacts p{
    display: inline-block;
    vertical-align: middle;
    color: #616161;
    font-size: 1.4em;
    font-family: 'Open Sans Regular';
    margin-left: 15px;
}
.map{
    display: block;
    width: 100%;
    height: 400px;
    background-image: url(../img/map.jpg);
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 0;
}
footer p{
    font-family: 'Open Sans Regular';
    font-size: 1.2em;
    color:#757575;
    margin: 0;
}
footer .right p a{
    color:#757575;
}
footer ul{
    display: inline;
    margin: 0;
    padding: 0;
}
footer ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 1.4em;
}
footer ul li a i{
    color: #bdbdbd;
    padding: 0 8px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
footer ul li a:hover i{
    color: #000;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
footer span{
    color: #ff6e40;
}
footer .left{
    float: left;
}
footer .right{
    float: right;
    text-align: right;
}
footer .centered {
    text-align: center;
    display: inline-block;
    width: 33%;
}

/*SCROLL TO TOP ARROW*/
#scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    /*text-indent: -9999px;*/
    color: #ff6e40;
    background-color: transparent;
    border: 2px solid #ff6e40;
    font-size: 1.5em;
    text-align: center;
    line-height: 34px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
#scrollup:hover{
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
#scrollup:hover{
    transition: all ease-in-out 0.4s;
    color: #fff;
    background-color: #ff6e40;
}